$o-assets-global-path: '/bower_components/';
$o-collapse-is-silent: false;

.o-collapse {
	// Hide collapsed elements by default
	display: none;
}

.o-collapse--expanded {
	display: block;
}

.demo-panel {
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid #cccccc;
}

.demo-panel-heading {
	[data-toggle="o-collapse"] {
		cursor: pointer;
	}
}

.demo-accordion {
	list-style: none;
	padding: 0;
}
