<a href="#collapse-example" data-toggle="o-collapse" aria-controls="collapse-example" aria-expanded="false">Link trigger</a>
<button data-toggle="o-collapse" data-target="#collapse-example" aria-controls="collapse-example" aria-expanded="false">Button trigger</button>
<p id="collapse-example" class="o-collapse demo-panel" data-o-component="o-collapse">Quisque in tortor finibus, dictum sem vel, convallis felis. Nunc ac mi in urna euismod eleifend in vitae augue. Suspendisse blandit feugiat vulputate. Praesent sit amet fringilla eros. Mauris nunc nisl, laoreet sit amet molestie vitae, sodales et diam.</p>

<script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=WeakMap"></script>
